<!DOCTYPE html>
<html>	
<head>
    <title>Movies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/style.css" rel='stylesheet' type='text/css' />
    <link REL="shortcut icon" href="/static/images/favicon.ico"/>
</head>
<body>
<script src="/static/jquery-3.4.1.js"></script>
<script src="/static/moves.js"></script>

<h1>Sun Movies</h1>
<div class="login-form">
	<div class="close"> </div>
		<div class="head-info">
			<label class="lbl-1"> </label>
			<label class="lbl-2"> </label>
			<label class="lbl-3"> </label>
		</div>
    <div class="clear"> </div>
	<div class="avatar">
		<img src="/static/images/avatar.png" />
	</div>
        <form>
            <input type="text" class="text" placeholder="用户名" id="username" >
            <div class="key"><input type="password" placeholder="密码" id="password"></div>
        </form>
	<div>
		<input id="btn_login" type="submit" value="Login" >
	</div>
</div>
 <div class="copy-rights">
     <p>Copyright &copy; 2019.Company name All rights reserved.More Templates <a href="http://www.woshitiancai.com/" target="_blank" title="天才之家">天才之家</a></p>
</div>

</body>
</html>